:root {
  --cursor-type: auto;
}

.redrop-drag-preview {
  position: absolute !important;
  pointer-events: none !important;
  z-index: 999;
  outline: 0.5px solid rgba(0, 166, 231, 0.915) !important;
  box-sizing: border-box !important;
}

.redrop-active-dropzone-highlight {
  outline: 2px dashed rgb(1, 188, 1) !important;
  outline-offset: -1px;
}

html,
body.redrop-dragging,
body.redrop-dragging * {
  cursor: var(--cursor-type) !important;
}

.redrop-draggable-item[draggable="false"] {
  cursor: not-allowed;
}

.redrop-draggable-item[aria-grabbed="true"] {
  opacity: 0.5;
}

.redrop-draggable-item.redrop-drag-preview[aria-grabbed="true"] {
  opacity: 1;
}
